#home{
    background: url(../images/h_img.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    color:white;
   
   
  }
  placeholder{color:white;}
  
 .form-control{
    background: none;
    color:white;
  
  }
 #service{
     background:url(../images/s_image.jpg)no-repeat;
     color:white;
     padding:40px;
 }
 .contact{
  background:url(../images/c_image.jpg)no-repeat;
  margin-top:0.5%;
  color:white;
 }
 .margin{
   margin-bottom: 90%;
 }
    h1{text-align:center;}
    .icon2{
      display: none;
      text-align:center;
    width:300px;
    }
    #icon1{
      display: none;
      text-align:center;
    width:300px;
    }
    #icon3{
      display: none;
      text-align:center;
    width:300px;
    }
    .portfolio{
      width: auto;
      margin-top: 0%;
      margin-left:0px;
    }

  .Icon{
    display: flex;
    flex-direction:row;
     justify-content:space-evenly;
     padding: 20px;
  }
  h2{justify-content: center;
    align-items: center;
    text-align: center;}
  .port{
      width: 100%;
      height: 100%;
  }
  #center{
    display:none;
    text-align:center;
    width:300px;}
    
    #design{display: flex;
      flex-direction:column;
       justify-content:space-evenly;
       text-align:center;}
  
  .paragraph{
   display: flex;
    flex-direction:column;
     justify-content:space-evenly;
     padding: 20px;
     text-align:center;
  }
  .logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;}
    .s{
      font-size:20px;
    }
    .positionlogo{
      justify-content: center;
    align-items: center;
    text-align: center;
    }
    h15{
      font-size:8px;
      
    }
    #size{
      font-size:25px;
      
     
    }
    #paragraph{
      margin-top:80px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #font{font-size: 10px;}


    .work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
      position: absolute;
      top: 60%;
      left: 60%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 15%;
      opacity: 0.6;
      display: none;
      }
      #work1,#work2,#work3,#work4,#work5,#work6,#work7,#work8{
        width: 100%;
        padding-top: 1%;
      }
  .social{
    justify-content: center;
      align-items: center;
      text-align: center;
  }
  .info{
    justify-content: center;
      align-items: center;
      text-align: center;
      font-size:5;
  }
  .about{
    font-size:10px;
  }
  h1{font-size: 20px;}