body, html {
  height: 100%;
}
#home{
    background: url(../images/h_img.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    color:white;
   
  }
 #service{
     background:url(../images/s_image.jpg)no-repeat;
     color:white;
 }
 .contact{
  background:url(../images/c_image.jpg)no-repeat;
  margin-top: auto;
 }
 .margin{
   margin-bottom: 90%;
 }
    h1{text-align:center;}
    .icon2{
      display: none;
      text-align:center;
    width:300px;
    }
    #icon1{
      display: none;
      text-align:center;
    width:300px;
    }
    #icon3{
      display: none;
      text-align:center;
    width:300px;
    }

  .Icon{
    display: flex;
    flex-direction:row;
     justify-content:space-evenly;
     padding: 20px;
  }
  .partone{
    display: flex;
    flex-direction:row;
     justify-content:space-evenly;
  }
  .secondpart{
    display: flex;
    flex-direction:row;
     justify-content:space-evenly;
     padding: 20px;
  }
  .port{
      width: 100%;
      height: 100%;
  }
  #center{
    display:none;
    text-align:center;
    width:300px;}
    
    #design{display: flex;
      flex-direction:column;
       justify-content:space-evenly;
       text-align:center;}
  
  .paragraph{
   display: flex;
    flex-direction:column;
     justify-content:space-evenly;
     padding: 20px;
     text-align:center;
  }
  .logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;}
    .positionlogo{
      justify-content: center;
    align-items: center;
    text-align: center;
    }
    h15{
      font-size:8px;
      
    }
    #size{
      font-size:25px;
      
     
    }
    #paragraph{
      margin-top:80px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }


    .work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 15%;
      display: none;
      }
  